body {
    /* color: whitesmoke; */
    width: 90%;
    margin: 10px 10px 10px 10px;
    background-color: aliceblue;
    /* background-image: url('https://i.redd.it/anyone-interested-in-making-the-animation-for-the-matrix-v0-4904jjjxjlja1.png?width=4300&format=png&auto=webp&s=c91827571a4af6cd91be8d13b108800209b97e32'); */
    /* background-size: 100%; */
}

h1 {
    /* display: flex; */
    align-items: center;
    display: flex;
    justify-content: space-between;
}

button:hover {
    transition: transform 0.3s ease;
    transform: translateY(-5px);
    
}

.navbar-wrapper {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 1000;
    /* display: flex; */
}

.txt-navbar {
    margin-top: 35px;
    text-align: center;
    color: aliceblue;
    font-size: 30px;
}

.btn-navbar {
    background-color: aliceblue;
    position: fixed;
    right: 25px;
    top: 25px;
    z-index: 1001;
    /* align-self: flex-start; */
    border-radius: 6px;
    border: none;
    width: 40px;
    height: 40px;
    background-image: url('https://img.icons8.com/?size=100&id=102344&format=png&color=000000');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-color: transparent;
    transition: transform 0.3s ease;
}

.btn-navbar:hover {
    transform: translateX(-8px);
}

.navbar {
    width: 200px;
    height: 100%;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    background-color: rgb(99, 88, 88);
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0px 15px 0px 15px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    position: relative;
    justify-content: space-between;
}

.navbar.visible {
    transform: translateX(0);
}

.navbar.visible ~ .btn-navbar {
    transform: translateX(-225px);
    /* transform: translateX(-250px); */
}
.navbar button {
    font-style: Arial;
    font-size: 23px;
    background-color: rgb(32, 160, 6);
    border: none;
    border-radius: 6px;
    color: white;
    width: 100%;
    height: 7%;
}

.btn-logout-navbar {
    margin-top: auto;
    margin-bottom: 20px;
}

.div-shop {
    display: none;
    position: absolute;
    width: 100%;
    height:100%h;
    background-color: rgb(13, 194, 118);
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 100;
    border-radius: 15px;
}

.div-shop.visible {
    display: block;
}